/canosplit-backups
/#auto_saved_files#
_autosave-*
fp-info-cache
fp-lib-table
*-cache.lib
*.bak
*.kicad_pcb-bak
*.sch-bak
fp-info-cache
bom
*.csv
*.xml
*.kicad_prl
*-backups
*.net
_autosave*
/sensor_board/gbr
*.gbr
*.gbrjob
*.zip
/gerber
